.tableMain {
    border: 1px solid black;
    border-collapse: collapse;
    width: 360px !important;
    
}
.App{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
  
}